.nav {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    margin-bottom: 20px;
    margin-top: -30px;
    margin-left: 950px;
}

.search-driver-button {
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: -5px;
    padding: 5px 10px;
    font-size: 0.8rem;
}

.search-driver-button:hover {
    background-color: #0056b3;
}

.navDrivers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 1px;
    margin-bottom: 20px;
    margin-top: -5px;
}